<div
  #cardElement
  [style.transform]="translateCard$ | async"
  [style.top]="useTop ? stackingIndex * 25 + '%' : '0px'"
  [style.zIndex]="cardSelected ? '100' : 'unset'"
  class="card-container"
>
  <div class="card-content" [ngClass]="isRed ? 'red-card' : 'black-card'">
    <div *ngIf="card?.isFacingUp" class="card-front">
      <div class="row top">
        <div class="value-container">
          <span>{{ card.value }}</span>
        </div>
        <div class="suit-container">
          <img [src]="imageSrc" />
        </div>
      </div>
      <div class="row middle">
        <img [src]="imageSrc" />
      </div>
      <div class="row bottom">
        <div class="value-container">
          <span>{{ card.value }}</span>
        </div>
        <div class="suit-container">
          <img [src]="imageSrc" />
        </div>
      </div>
    </div>
    <div *ngIf="!card?.isFacingUp" class="card-back"></div>
  </div>
</div>
