<div
  #cardElement
  [style.transform]="translationStyling$ | async"
  [style.top]="topStyling"
  [style.zIndex]="zIndex"
  class="card-container no-select"
  [class.use-transition]="!userIsMovingCard"
  [class.use-box-shadow]="useBoxShadow">
  <div class="card-content" [ngClass]="isRed ? 'red-card' : 'black-card'">
    <div *ngIf="card?.isFacingUp" class="card-front">
      <div class="row top">
        <div class="value-container">
          <span>{{ card.value }} </span>
        </div>
        <img [src]="imageSrc" />
      </div>
      <div class="row middle">
        <img [src]="imageSrc" />
      </div>
      <div class="row bottom">
        <div class="value-container">
          <span>{{ card.value }}</span>
        </div>
        <img [src]="imageSrc" />
      </div>
    </div>
    <div *ngIf="!card?.isFacingUp" class="card-back"></div>
  </div>
</div>
