:host {
  display: block;
}

.icon-container {
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  border-radius: 20px;
  display: grid;
  place-items: center;

  img {
    height: 20px;
  }
}
