:host {
  display: block;
}

.icon-container {
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  border-radius: 20px;
  display: grid;
  place-items: center;

  &.invert-colors {
    background-color: #333;

    img {
      filter: invert(100%) sepia(0%) saturate(16%) hue-rotate(359deg) brightness(103%) contrast(101%);
    }
  }

  img {
    height: 20px;
  }
}
