:host {
  width: 100%;
}

.row {
  width: 100%;
  position: relative;
}

.card-placeholder {
  width: 100%;
  padding-bottom: 140%;
  border-radius: 6%;
  background-color: rgba(51, 51, 51, 0.25);
}

.card {
  position: absolute;
  width: 100%;
  padding-bottom: 140%;
  border-radius: 6%;
  background-color: rgb(255, 255, 255);
  border: 1px solid #333;
}
