<div class="game-container">
  <div class="game-board-container">
    <div class="column stock-and-foundation">
      <div class="row">
        <div class="card-placeholder"></div>
      </div>
      <div class="row">
        <div class="card-placeholder"></div>
      </div>
      <div class="row"></div>
      <div class="row">
        <div class="card-placeholder"></div>
      </div>
      <div class="row">
        <div class="card-placeholder"></div>
      </div>
      <div class="row">
        <div class="card-placeholder"></div>
      </div>
      <div class="row">
        <div class="card-placeholder"></div>
      </div>
    </div>
    <div class="column tableau">
      <div class="row">
        <div class="card-placeholder"></div>
      </div>
      <div class="row">
        <div class="card-placeholder"></div>
      </div>
      <div class="row">
        <div class="card-placeholder"></div>
      </div>
      <div class="row">
        <div class="card-placeholder"></div>
      </div>
      <div class="row">
        <div class="card-placeholder"></div>
      </div>
      <div class="row">
        <div class="card-placeholder"></div>
      </div>
      <div class="row">
        <div class="card-placeholder"></div>
      </div>
    </div>
  </div>
</div>
