.root-container {
  width: 100vw;
  height: 100vh;
  background-color: #5a9c56;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.8s cubic-bezier(0.58, 0.17, 0.34, 0.74);
  font-family: 'Montserrat', sans-serif;

  &.night-mode {
    background-color: #333;

    app-card-pile::ng-deep .card-placeholder {
      background-color: rgb(255 255 255 / 25%);
    }
  }

  .square {
    flex: 1;
    position: relative;
    width: 50%;
    min-width: 760px;
    max-width: 1000px;
    height: 100%;
  }

  .game-board-container {
    position: absolute;
    width: 100%;

    padding-top: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .row {
      display: flex;
      gap: 10px;

      &.stock-and-foundation {
        flex-basis: 33.333%;
      }

      &.tableau {
        flex-basis: 66.666%;
      }
    }

    .column {
      width: 100%;
    }

    .card-placeholder {
      width: 100%;
      padding-bottom: 140%;
      border-radius: 6%;
      background-color: #33333340;
      transition: background-color 0.8s cubic-bezier(0.58, 0.17, 0.34, 0.74);
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 10px 0 0;
    font-size: 12px;
  }
}

@media only screen and (max-height: 500px) {
  .game-board-container {
    padding-top: 20px !important;
    gap: 20px !important;
  }
}
