<div class="game-container">
  <!-- <div class="game-header-bar">
    <div class="actions">
      <button (click)="startGame()">New game</button>
      <button>Undo move</button>
    </div>
  </div> -->
  <div class="game-board-container">
    <div class="column stock-and-foundation">
      <div class="row">
        <app-tableau-row [cards]="filterCardsByLocation({type: 'stock', index: 1})" type="stock" [index]="1" placeHolderImageSrc="assets/images/refresh.svg"></app-tableau-row>
      </div>
      <div class="row">
        <app-tableau-row [cards]="filterCardsByLocation({type: 'waste', index: 1})" type="waste" [index]="1"></app-tableau-row>
      </div>
      <div class="row"></div>
      <div class="row">
        <app-tableau-row [cards]="filterCardsByLocation({type: 'foundation', index: 1})" type="foundation" [index]="1" placeHolderImageSrc="assets/images/heart.svg"></app-tableau-row>
      </div>
      <div class="row">
        <app-tableau-row [cards]="filterCardsByLocation({type: 'foundation', index: 1})" type="foundation" [index]="1" placeHolderImageSrc="assets/images/club.svg"></app-tableau-row>
      </div>
      <div class="row">
        <app-tableau-row [cards]="filterCardsByLocation({type: 'foundation', index: 1})" type="foundation" [index]="1" placeHolderImageSrc="assets/images/diamond.svg"></app-tableau-row>
      </div>
      <div class="row">
        <app-tableau-row [cards]="filterCardsByLocation({type: 'foundation', index: 1})" type="foundation" [index]="1" placeHolderImageSrc="assets/images/spade.svg"></app-tableau-row>
      </div>
    </div>
    <div #tableau class="column tableau">
      <app-tableau-row [cards]="filterCardsByLocation({type: 'tableau',index: 1})"></app-tableau-row>
      <app-tableau-row [cards]="filterCardsByLocation({type: 'tableau',index: 2})"></app-tableau-row>
      <app-tableau-row [cards]="filterCardsByLocation({type: 'tableau',index: 3})"></app-tableau-row>
      <app-tableau-row [cards]="filterCardsByLocation({type: 'tableau',index: 4})"></app-tableau-row>
      <app-tableau-row [cards]="filterCardsByLocation({type: 'tableau',index: 5})"></app-tableau-row>
      <app-tableau-row [cards]="filterCardsByLocation({type: 'tableau',index: 6})"></app-tableau-row>
      <app-tableau-row [cards]="filterCardsByLocation({type: 'tableau',index: 7})"></app-tableau-row>
    </div>
  </div>
</div>
