button {
  padding: 0;
  border: unset;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;

  app-icon.use-animation {
    transition: transform 0.3s ease-in-out;
  }

  app-icon::ng-deep .icon-container:hover {
    transition: outline 0.3s;
    outline: 4px solid #599c56a9;
  }
}

button:active {
  transform: scale(0.9);
}
