<div class="header-container" [class.show]="showSettingsMenu">
  <div class="title-container">
    <div><span>sleek</span><span class="red-text">solitaire</span><span>.com</span></div>
  </div>
  <div class="stats-actions-container">
    <div class="column game-stats">
      <div class="stat-container">
        <app-icon imageSrc="../assets/images/moves.svg"></app-icon>
        {{ formattedTotalMoves }}
      </div>
      <div class="stat-container large-img-wrapper">
        <app-icon imageSrc="../assets/images/clock.svg"></app-icon>
        {{ formattedElapsedTime }}
      </div>
    </div>
    <div class="column game-actions">
      <app-button
        imageSrc="../assets/images/refresh.svg"
        [useAnimation]="true"
        (clickEmitter)="resetGame()"></app-button>
      <app-button imageSrc="../assets/images/settings2.svg" (clickEmitter)="settingsClickHandler()"></app-button>
    </div>
  </div>
</div>
<app-settings-menu [isOpen]="settings.settingsMenu"></app-settings-menu>
