:host {
  width: 100%;
}

.header-container {
  font-family: 'Fjalla One', sans-serif;
  display: grid;
  place-items: center;

  &.show {
    .settings-menu {
      opacity: 1 !important;
      display: flex !important;
    }
  }
}

.title-container {
  position: absolute;
  width: 100%;
  height: 70px;
  display: grid;
  place-items: center;
  font-size: 2rem;

  span {
    color: #5a9c56;
  }

  .red-text {
    color: white;
  }
}

.stats-actions-container {
  width: 100%;
  height: 70px;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: #333;

  color: white;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .settings-menu {
    position: absolute;
    display: none;
    padding: 20px;
    right: 0;
    top: 70px;
    z-index: 10;
    gap: 20px;
    align-items: center;
    transition: opacity 0.3s cubic-bezier(0.58, 0.17, 0.34, 0.74);
    opacity: 0;

    ::ng-deep.mat-slide-toggle.mat-checked:not(.mat-disabled) {
      .mat-slide-toggle-thumb {
        background-color: #5a9c56;
      }
      .mat-slide-toggle-bar {
        background-color: #ffffff;
      }
    }
  }

  .game-stats {
    align-items: center;
    gap: 5px;
    display: flex;
    gap: 20px;

    .stat-container {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 90px;
    }
  }

  .game-actions {
    justify-content: right;
    align-items: center;
    display: flex;
    gap: 20px;
  }
}

@media only screen and (max-width: 650px) {
  .title-container {
    position: relative;
    background-color: #333;
  }

  .stats-actions-container {
    background-color: #3333337d;
  }

  .settings-menu {
    top: 140px !important;
  }
}

@media only screen and (max-width: 750px) {
  .game-actions,
  .game-stats {
    gap: 10px !important;
  }

  .title-container {
    font-size: 1.6rem !important;
  }
}

@media only screen and (max-width: 350px) {
  .game-stats {
    app-icon {
      display: none;
    }

    .stat-container {
      width: unset !important;
    }
  }
}
