:host {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;

  &.show {
    background-color: #333333d3;
    pointer-events: all;

    .modal {
      transform: translate(0, 0);
    }
  }

  .modal {
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    font-family: 'Fjalla One', sans-serif;
    line-height: initial;

    transform: translate(0, 100vh);
    transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

    &.night-mode {
      background-color: #333;
      color: white;
    }

    .header {
      font-size: 2rem;
      display: grid;
      place-items: center;
    }

    .body {
      font-size: 16px;

      .divider {
        display: flex;
        flex: 1;
        align-items: center;
        gap: 10px;

        hr {
          flex-grow: 1;
          height: 0px;
        }
      }

      .stats {
        display: flex;
        padding: 20px 0;

        .stat {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          align-items: center;

          .value {
            font-size: 2rem;
          }
        }
      }
    }

    .footer {
      display: flex;
      justify-content: space-between;
    }
  }
}
