<div class="modal-container">
  <div class="header">Congratulations</div>
  <div class="body">
    <div class="divider">
      <hr />
      <span>YOU WON IN:</span>
      <hr />
    </div>
    <div class="stats">
      <div class="stat">
        <span>MOVES</span>
        <span class="value">20</span>
      </div>
      <div class="stat">
        <span>TIME</span>
        <span class="value">1:06</span>
      </div>
    </div>
    <hr />
  </div>
  <div class="footer">
    <app-button
      imageSrc="../assets/images/close.svg"
      (clickEmitter)="closeHandler()"
    ></app-button>
    <app-button
      imageSrc="../assets/images/refresh.svg"
      (clickEmitter)="startNewGameHandler()"
    ></app-button>
  </div>
</div>
